[workspace]
members = ["contracts/*", "packages/*"]

[workspace.dependencies]
cosmwasm-schema = "1.4.0"
cosmwasm-std = "1.3.3"
cosmwasm-storage = "1.3.3"
cw-multi-test = "0.15.1"
cw-storage-plus = "1.1.0"
cw-utils = "1.0.1"
cw2 = "1.1.0"
okp4-logic-bindings = { path = "packages/okp4-logic-bindings" }
okp4-objectarium = { path = "contracts/okp4-objectarium" }
okp4-objectarium-client = { path = "packages/okp4-objectarium-client" }
schemars = "0.8.13"
serde = { version = "1.0.168", default-features = false, features = ["derive"] }
serde-json-wasm = "0.5.1"
thiserror = { version = "1.0.47" }
