[package]
authors.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
name = "axone-networks"
repository.workspace = true
rust-version.workspace = true
version = "0.1.0"
publish = false

[dependencies]
anyhow.workspace = true
cw-orch.workspace = true
